@page "/"


<AgileMaintence.Components.Headers.HeaderTitleBar Text="Olá, Lenner" HiddenButton />
<div class="row ">

    <div class="col-md-6 col-lg-6 col-sm-12 mt-5">
        <AgileMaintence.Components.Cards.CardHome Header="Próximas Entregas" Body="Você possui X entregas próximas, Sendo essas:" />

    </div>

    <div class="col-md-6 col-lg-6 col-sm-12  mt-5">
        <AgileMaintence.Components.Cards.CardHome Header="Entregas para hoje" Body="Você possui X entregas para data de hoje, sendo essas:" />

    </div>


    <div class="col-md-6 col-lg-6 col-sm-12  mt-5">
        <AgileMaintence.Components.Cards.CardHome Header="Teste Cabeçalho" Body="Teste mensagem de dentro card" />

    </div>


    <div class="col-md-6 col-lg-6 col-sm-12  mt-5">
        <AgileMaintence.Components.Cards.CardHome Header="Teste Cabeçalho" Body="Teste mensagem de dentro card" />

    </div>


</div>


