.card-home-container {
    border: 1px solid #a8e8ff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 200px;
    overflow: hidden;
    background-color: #f7f6f6;
}

.card-home-container:hover {
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-home-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #a8e8ff;
    margin-bottom: 10px;
}

.card-home-body {
    font-size: 16px;
}
