.agile-table {
    width: 100%;
}

    .agile-table th, .agile-table td {
        border: 1px solid #a8e8ff;  
        text-align: left;
        padding: 8px;  
    }

    .agile-table th {
        background-color: #4688f9
    }
